<div class="category">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h2 class="section_title">Categories</h2>
        </div>
      </div>
    </div>
    <div class="row category_row">

      <!-- Category Item -->
      <div *ngFor="let category of categorys" class="col-lg-3 col-md-6 category_col">
        <div class="category_item" >
          <div class="category_image"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e53c6bd9-d4de-44e4-8dc2-a5687ac1ddb0/d8jh9p6-341e54d4-0b1c-467d-8f81-17b51196505c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZTUzYzZiZDktZDRkZS00NGU0LThkYzItYTU2ODdhYzFkZGIwXC9kOGpoOXA2LTM0MWU1NGQ0LTBiMWMtNDY3ZC04ZjgxLTE3YjUxMTk2NTA1Yy5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.6cuOhqz9qxDqBLXji1yBpXJmVVkzpbFUdP69XF7kFLw" alt=""></div>
          <div class="category_body">
            <div class="category_title"><a href="#">{{category.categoryName}}</a></div>
            <div class="social_list">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
