<div class="counter">
  <div class="counter_background" style="background-image:url(./assets/image/imageredbook.jpg)"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="counter_content">
          <h2 class="counter_title">Register Now</h2>
          <div class="counter_text"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>

          <!-- Milestones -->
      </div>
    </div>
    <div class="counter_form">
      <div class="row fill_height">
        <div class="col fill_height">
          <form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
            <div class="counter_form_title">Register now</div>
            <input type="email" class="counter_input" placeholder="Your email" required="required">
            <input type="password" class="counter_input" placeholder="Password" required="required">
            <input type="password" class="counter_input" placeholder="Retype password" required="required">
            <button type="submit" class="counter_form_button">Submit now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
