<div class="cart-item d-md-flex justify-content-between"><span (click)="removeProduct(productcart.book.id)" class="remove-item"><i class="fa fa-times"></i></span>
  <div class="px-3 my-3">
    <a class="cart-item-product" href="#">
      <div class="cart-item-product-thumb"><img src="https://localhost:5001/images/{{productcart.book.mainImage}}" alt="Product"></div>
      <div class="cart-item-product-info">
        <h4 class="cart-item-product-title">{{productcart.book.bookName}}</h4><span><strong>Author: </strong> Mirrorless</span><span>Only <strong>{{productcart.book.quantity}}</strong> Product</span>
      </div>
    </a>
  </div>
  <div class="px-3 my-3 text-center">
    <div class="cart-item-label">Price</div><span class="text-xl font-weight-medium">{{productcart.book.price | formatPrice}}đ</span>
  </div>
  <div class="px-3 my-3 text-center">
    <div class="cart-item-label">Amount</div>
      <div class="row">
          <div class="input-group">
                <span class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]">
                        <span class="fa fa-minus"></span>
                    </button>
                </span>
            <input #inputElement type="text" name="quant[1]" class="form-control input-number" value="{{productcart.amount}}" (input)="updateQuanTity(inputElement)" min="1" max="3">
            <span class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary btn-number"  data-type="plus" data-field="quant[1]">
                        <span class="fa fa-plus"></span>
                    </button>
                </span>
          </div>
    </div>
  </div>
  <div class="px-3 my-3 text-center">
    <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">{{productcart.book.price * productcart.amount | formatPrice}}đ</span>
  </div>
</div>
