<!-- Top Bar -->
<div class="top_bar">
  <div class="top_bar_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
            <ul class="top_bar_contact_list">
              <li>
                <div class="question">Have any questions?</div>
              </li>
              <li>
                <i aria-hidden="true" class="fa fa-phone"></i>
                <div>001-1234-88888</div>
              </li>
              <li>
                <i aria-hidden="true" class="fa fa-envelope-o"></i>
                <div>info.bookstore@gmail.com</div>
              </li>
            </ul>
            <div class="top_bar_login ml-auto">
              <div class="row">

                <div class="dropdown">
                  <span id="showname" [hidden] = 'tokenService.getName()==null'>Xin chào {{tokenService.getName()}}</span>
                  <div class="dropdown-content">
                    <div class="profileUser" routerLink="/profile">
                      <a>Profile</a>
                    </div>
                    <div *ngIf = "tokenService.isLogin()" class="logout_button" (click)="tokenService.logout()">
                      <a>LogOut</a>
                    </div>
                  </div>
                </div>
              <div *ngIf="!tokenService.isLogin()" class="login_button"><a routerLink="/login">Register or Login</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
