<div class="books_trending">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h2 class="section_title">Hot Book</h2>
        </div>
      </div>
    </div>
    <div class="row books_trending_row">
      <div *ngFor="let hotproduct of hotproducts" class="col-lg-3">
        <app-product-banner-item [product] = hotproduct></app-product-banner-item>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="books_trending_button trans_200"><a routerLink="/shop">view all books_trending</a></div>
      </div>
    </div>
  </div>
</div>
