<div class="books_new">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h2 class="section_title">New Book</h2>
        </div>
      </div>
    </div>
    <div class="row books_new_row">
      <div class="col-lg-3">
      <app-product></app-product>
      </div>
      <div class="col-lg-3">
        <app-product></app-product>
      </div>
      <div class="col-lg-3">
      <app-product></app-product>
      </div>
      <div class="col-lg-3">
        <app-product></app-product>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="books_new_button trans_200"><a href="#">view all books_new</a></div>
      </div>
    </div>
  </div>
</div>
